*.log
wpweb/.htaccess
wpweb/sitemap.xml
wpweb/sitemap.xml.gz
wpweb/wp-config.php
wpweb/wp-content/advanced-cache.php
wpweb/wp-content/backup-db/
wpweb/wp-content/backups/
wpweb/wp-content/blogs.dir/
wpweb/wp-content/cache/
wpweb/wp-content/upgrade/
wpweb/wp-content/uploads/
wpweb/wp-content/wp-cache-config.php

resource/*